.frontPage
{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: black;
    position: relative;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

.errorContainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.frontPageText 
{
    height: auto;
    width: auto;
    margin-top: 20%;
    color: white;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.homeLink
{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin-top: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #222222;
    padding: 3% 5%;
    border: 5px solid white;
    border-radius: 5px;
    pointer-events: all;
    text-align: center;
    text-decoration: none;
}

.homeLink:hover
{
    background-color: #333333;
    color: white;
    transition: 0.3s;
}