.frontPage
{
    width: 100%;
    height: 350px;
    background-color: black;
    position: relative;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

.frontPageText 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    z-index: 2;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.construction
{
    height: 200px;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: white;
    border: 2px solid black;
}  

.construction .constructionText
{
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}